Repository googleapis/nodejs-storage-transfer, pull requests merged in 2022-11, with the labels that each got.

#121 fix(deps): use google-gax v3.5.2
  package.json
Labels: automerge, api: storagetransfer, size: xs

#126 build: update README for deprecation notice and delete all files except samples
  .github/.OwlBot.yaml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-approve.yml
  .github/auto-label.yaml
  .github/generated-files-bot.yml
  .github/release-please.yml
  .github/release-trigger.yml
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .kokoro/continuous/node12/common.cfg
  .kokoro/continuous/node12/lint.cfg
  .kokoro/continuous/node12/samples-test.cfg
  .kokoro/continuous/node12/system-test.cfg
  .kokoro/continuous/node12/test.cfg
  .kokoro/docs.sh
  .kokoro/lint.sh
  .kokoro/pre-samples-test.sh
  .kokoro/publish.sh
  .kokoro/release/docs-devsite.cfg
  .kokoro/release/docs-devsite.sh
  .kokoro/release/docs.cfg
  .kokoro/release/docs.sh
  .kokoro/release/publish.cfg
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.bat
  .kokoro/test.sh
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  linkinator.config.json
  owlbot.py
  package.json
  protos/google/storagetransfer/v1/transfer.proto
  protos/google/storagetransfer/v1/transfer_types.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  renovate.json
  src/index.ts
  src/v1/gapic_metadata.json
  src/v1/index.ts
  src/v1/storage_transfer_service_client.ts
  src/v1/storage_transfer_service_client_config.json
  src/v1/storage_transfer_service_proto_list.json
  system-test/fixtures/sample/src/index.js
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
  test/gapic_storage_transfer_service_v1.ts
  tsconfig.json
  webpack.config.js
Labels: samples, api: storagetransfer, size: l

#133 test(samples): Refactor AWS S3 Test Credentials Source
  .kokoro/pre-samples-test.sh
  samples/test/aws-request.test.js
  samples/test/utils/bucket.js
Labels: samples, api: storagetransfer
